@model IEnumerable<WebApplication1.Models.ProjectItem>
@{
    ViewData["Title"] = "Hour Timer";
    var jsonItems = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Stopwatch</title>
    <script type="text/javascript">
        var jsonItems = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
    <body onload="onLoadFunctions(jsonItems, '@ViewBag.Message')">
        <header>
            <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="HourLog">Hour Log</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Hour Timer</a>
            <a style="float: right" asp-area="" asp-controller="Home" asp-action="Login">Log out</a>
            </div>
        </header>
        <main>
            <aside>
                <div class="dropdown">
                    <form>
                        <select class="dropdown-content" id="projects">
                            @*@foreach (var prj in Model)
                            {
                                <option value=@prj.Id>@prj.Name</option>
                            }*@
                            <option value="" selected="selected">Select project</option>
                         </select>
                         <select class="dropdown-content" id="services">
                            <option value="" selected="selected">Please select project first</option>
                         </select>
                        <select class="dropdown-content" id="hourtypes">
                            <option value="" selected="selected">Please select service first</option>
                        </select>
                    </form>
                </div>
                    <div class="starttime">
                        <span >Start Time: </span>
                        <span id="startTime">not set</span>
                    </div>
                    <div>
                        <div id="time">
                            <span class="digit" id="hr">
                              00</span>
                            <span class="txt">Hr</span>
                            <span class="digit" id="min">
                              00</span>
                            <span class="txt">Min</span>
                            <span class="digit" id="sec">
                              00</span>
                            <span class="txt">Sec</span>
                        </div>
                        <div id="buttons">
                            <button class="btn" id="start" >
                              Start</button>
                            <button class="btn" id="stop">
                              Stop and Save</button>
                            <button class="btn" id="reset">
                                Reset
                            </button>

                        </div>
                    </div>
            </aside>
        </main>
        <footer>
            <div class=footertext>
                <p> Made by group 3</p>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    </body>
</html>
