@model WebApplication1.Models.TimeInfo
@{
    ViewData["Title"] = "Hour Timer";
}

<div class="text-center">
    <h1>Starting Time: @Html.DisplayFor(model=>model.Start)</h1>
    <form method="post" asp-contoller="Home">
        <input type="submit" value="Start Timer" asp-action="StartTimer" />
    </form>
</div>

